.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 32px 96px;
    gap: 64px;

    @media (min-width: 768px) and (max-width: 1024px) {
        gap: 32px;
        padding: 0px 64px;
    }

    @media (max-width: 768px) {
        gap: 16px;
        padding: 0 64px;
        min-height: 400px;
    }
}

.container h2{
    color: var(--dark-gray);
    font-family: 'Fraunces', Arial;
    font-weight: 900;
    font-size: 48px;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 32px;
    }

    @media (max-width: 768px) {
        font-size: 24px;
    }

}

.container p{
    color: var(--medium-gray);
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 14px;
    }

    @media (max-width: 768px) {
        font-size: 10px;
    }
}


.container button{
    position: relative;
    background: transparent;
    border: none;
    font-family: 'Fraunces', Arial;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--dark-gray);
    cursor: pointer;
}

.softRedOne::before{
    content: '';
    position: absolute;
    width: calc(100% + 12px);
    height: 10px;
    background-color: var(--soft-red);
    bottom: -2px;
    left: -6px;
    border-radius: 4px;
    z-index: -1;
    opacity: .2;
    transition: all .5s ease-in-out;
}

.yellowOne::before{
    content: '';
    position: absolute;
    width: calc(100% + 12px);
    height: 10px;
    background-color: var(--yellow);
    bottom: -2px;
    left: -6px;
    border-radius: 4px;
    z-index: -1;
    opacity: .2;
    transition: all .5s ease-in-out;
}

.container button:hover::before{
    opacity: .9;
}