.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.menuMobileContainer{
    width: 100%;
    display: flex;
    justify-content: end;

    @media (min-width: 768px) {
        display: none;
    }
}

.menuBtn{
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.menuMobile{
    padding-top: 64px;
    position: absolute;
    width: 360px;
    height: 350px;
    top: calc(100% + 16px);
    right: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.linkMobile{
    font-family: inherit;
    font-size: 18px;
    text-decoration: none;
    color: var(--light-gray);
}

.linkBtnMobile{
    font-family: 'Fraunces', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-gray);
    background-color: var(--yellow);
    padding: 16px 24px;
    border-radius: 32px;
    transition: all .5s ease-in-out;
    width: 50%;
}

.linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.link{
    text-decoration: none;
    color: var(--white);
}

.linkBtn {
    font-family: 'Fraunces', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-gray);
    background-color: var(--white);
    padding: 16px 24px;
    border-radius: 32px;
    transition: all .5s ease-in-out;
}

.linkBtn:hover{
    background-color: rgb(255 255 255 / 0.2);
}