.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  background-color: #6cb69b;
}

.links{
  margin-top: 48px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.link{
  color: var(--cyan);
  text-decoration: none;
  transition: all .3s ease;
}

.link:hover{
  color: var(--white);
}

.socialMedias{
  display: flex;
  align-items: center;
  gap: 32px;
}

.socialMedias svg{
  fill: var(--dark-cyan);
  transition: all .3s ease;
}

.socialMedias svg:hover{
  fill: var(--white);
}
